# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# VS Code
.vscode/

# Operating System
.DS_Store
Thumbs.db

# PyTorch models
*.pt
*.pth

# Dataset
data/raw/*
data/processed/*

# Keep folders
!data/raw/.gitkeep
!data/processed/.gitkeep
